{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<style>
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 50px;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

.container {
    padding-top: 120px;
    padding-left: 50px;
    padding-right: 50px;
}
.input-group {
  margin-top: 50px;

  /*padding: 5px;*/
  /*margin: 20px;*/
}

.form-control {
  padding-top: 27px;
  padding-bottom: 27px;
  /*margin-left: 20px;*/
}

#btn-input-group{
 /* padding-top: 25px;
  padding-bottom: 25px;
  padding-bottom: 20px;*/
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}

#rule-panel-default
{
 /* padding-top: 25px;
  padding-bottom: 25px;*/
  margin-top: 50px;

}

#btn-group-left
{
 position:relative;
 left:20px;
}

#user-jumbotron{
  margin-top: 80px;
}

#user-login-btn{
  margin-right: 20px;
}
</style>

<title> 搜索 </title>





{% comment %}{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'SearchEngine/style.css' %}"/>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'SearchEngine/justified-nav.css' %}"/>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'SearchEngine/ie10-viewport-bug-workaround.css' %}"/>

{% load static %}
<script src="{% static 'SearchEngine/ie10-viewport-bug-workaround.js' %}"></script>
{% load static %}
<script src="{% static 'SearchEngine/ie-emulation-modes-warning.js' %}"></script>{% endcomment %}

{% block bootstrap3_content %}

<!-- The scrollable area -->
<body data-spy="scroll" data-target=".navbar" data-offset="50">


<div class="container">

    <!-- The justified navigation menu is meant for single line per list item.
         Multiple lines will require custom code not provided by Bootstrap. -->
{#    <img src="https://d13yacurqjgara.cloudfront.net/users/47145/screenshots/791617/104.jpg" alt="Smiley face" height="100" width="200" >#}
    <form class="input-group" role="search" method="post">{% csrf_token %}
        <div class="form-group">
            <input type="text" class="form-control" name="keyword-input" placeholder="输入关键词..."  value= {{ last_query }} >
        </div>
        <span class="input-group-btn">
              <button class="btn btn-lg btn-success" id='btn-input-group'
                      type="submit">搜索一下</button>
            </span>
    </form>
    <!--</form>formaction="/pages/submit"-->


    <!-- Site footer -->
    <footer class="footer">
        <p>&copy; 2016 LeoTao .</p>
    </footer>

</div> <!-- /container -->

{% endblock %}
